.wordList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 10px;
    > p {
        font: {
            size: 1.15em;
            family: var(--secondary-font);
            weight: 300;
            style: italic;
        }
        padding: 5px;
        &[found="true"] {
            text-decoration: line-through;
        }
    }
}