.wordList {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-top: 5px;
    > a {
        padding: 5px;
        text-decoration: none;
        color: black;
        font: {
            size: 1.35em;
            family: var(--secondary-font);
            weight: 300;
            style: italic;
        }
        &[found="true"] {
            text-decoration: line-through;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}