@import '../../assets/sass/mixin.scss';

.wordList {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-top: 5px;
    > p {
        padding: 5px;
        color: black;
        cursor: pointer;
        transition: 0.5s;
        font: {
            size: 1.35em;
            family: var(--secondary-font);
            weight: 300;
            style: italic;
        }
        &:hover, &[highlighted="true"] {
            text-decoration: underline;
        }
    }
}

@include wordList-media-queries;