.grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat( var(--columns), 1fr);
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    > textarea {
        width: 100%;
        resize: none;
        outline: none;
        text-align: center;
        font: {
            family: var(--primary-font);
            weight: 700;
        }
    }
}