@import '../../assets/sass/mixin.scss';

.grid {
    width: var(--component-width);
    display: grid;
    grid-template-columns: repeat( var(--size), 1fr);
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    > textarea {
        width: 100%;
        resize: none;
        outline: none;
        text-align: center;
        border: 1px solid #707070;
        font: {
            family: var(--primary-font);
            weight: 700;
        }
    }
}

@include for-desktop-large-only {
    .grid > textarea{
        font-size: 2vw;
    }
}

@include for-mobile-only {
    .grid {
        width: 97.5%;
        gap: 0px;
        > textarea {
            font-size: 0.75em;
        }
    }
}