@import '../../assets/sass/mixin.scss';

.puzzle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    > h1 {
        margin: 1rem 0px 10px 5.75rem;
        font: {
            family: var(--secondary-font);
            weight: 300;
            style: italic;
            size: 4em;
        }
    }
    > a {
        opacity: 0;
        visibility: none;
    }
}

.printWrapper {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    overflow-wrap: break-word;
    margin-top: 1.5rem;
    > h1 {
        width: 70%;
        margin-left: 5.75rem;
        margin-bottom: 1rem;
        word-break: break-word;
        font: {
            family: var(--primary-font);
            weight: 300;
            style: italic;
            size: 3em; 
        }
    }
}

.gridWrapper {
    display: flex;
    margin-left: 5rem;
    pointer-events: none;
}

.btnWrapper {
    display: flex;
    margin: 0.5rem 0px 1rem 5.75rem;
    > button, a {
        padding: 5px 10px;
        border-radius: var(--border-radius);
        color: white;
        text-decoration: none;
        cursor: pointer;
        font: {
            family: var(--secondary-font);
            weight: 300;
            size: 2em;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.downloadBtn {
    background-color: var(--primary-color);
    margin-right: 2rem;
}

.playBtn {
    background-color: #0CAD1F;
}

@include for-desktop-large-only {
    .puzzle > h1{
        font-size: 5vw;
    }

    .printWrapper > h1{
        font-size: 3vw;
    }

    .btnWrapper {
        > button, a {
            font-size: 3vw;
        }
    }
}

@include for-desktop-only {
    .puzzle {
        width: 100%;
        margin: 0;
        > h1 {
            margin-left: 1rem;
        }
    }

    .printWrapper > h1 {
        width: 97.5%;
        margin-left: 1rem;
    }

    .gridWrapper {
        flex-direction: column;
        margin: 0;
    }

    .btnWrapper {
        margin-left: 1rem;
    }
}

@include for-mobile-only {
    .puzzle {
        align-items: center;
        > h1 { 
            margin-left: 0;
            text-align: center;
            font-size: 10vw;
         }
    }

    .printWrapper > h1 {
        margin-left: 0;
    }

    .gridWrapper > div:first-child {
        height: auto;
    }

    .btnWrapper {
        width: 97.5%;
        margin-left: 0;
        flex-direction: column;
        > button, a {
            width: 100%;
            text-align: center;
        }
    }

    .downloadBtn { 
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}