.puzzle {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    > h1 {
        margin: 1rem 0px 0px 5.75rem;
        margin-bottom: 10px;
        font: {
            family: var(--secondary-font);
            weight: 300;
            style: italic;
            size: 4em;
        }
    }
    > a {
        opacity: 0;
        visibility: none;
    }
}

.gridWrapper {
    display: flex;
    margin-left: 5rem;
    pointer-events: none;
}

.btnWrapper {
    display: flex;
    margin: 0.5rem 0px 1rem 5.75rem;
    > button, a {
        padding: 5px 10px;
        border-radius: var(--border-radius);
        color: white;
        text-decoration: none;
        cursor: pointer;
        font: {
            family: var(--secondary-font);
            weight: 300;
            size: 2em;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.downloadBtn {
    background-color: var(--primary-color);
    margin-right: 2rem;
}

.playBtn {
    background-color: #0CAD1F;
}