.grid {
    display: flex;
    flex-direction: column;
    background-color: #D9CB9E;
}

.gridRow {
    display: flex;
    justify-content: space-between;
    > div {
        font-size: 1.5em;
        padding: 7.5px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
}