.grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    background-color: #D9CB9E;
    background-color: green;
}

.gridCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.25s cubic-bezier(0.1, 0.7, 1.0, 0.1);
    &[highlighted] {
        background-color: var(--highlight-color);
    }
}