.grid {
    display: grid;
    grid-template-columns: repeat( var(--size), 1fr);
}

.gridCell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font: {
        family: var(--primary-font);
        weight: 700;
        size: 1.5em;
    }
    &[highlighted="true"] {
        border-radius: 2rem;
        color: white;
    }
    &:hover {
        background-color: red !important;
    }
}