@import '../../assets/sass/mixin.scss';
$componentWidth: 90%;

.maker {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directions {
    width: $componentWidth;
    margin-bottom: 1rem;
    font: {
        family: var(--secondary-font);
        weight: 300;
        style: italic;
        size: 1.5em;
    }
    > h1 {
        margin-bottom: 5px;
    }
}

.titleInput {
    width: $componentWidth;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    > textarea {
        width: 100%;
        border-radius: var(--border-radius);
        text-align: center;
        font: {
            family: var(--secondary-font);
            weight: 300;
            style: italic;
            size: 2.25em;
        }
    }
}

.inputWrapper {
    width: $componentWidth;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 0px 25px;
    flex: 3;
    > textarea {
        overflow-y: hidden;
        resize: none;
        outline: none;
        width: 100%;
        border-radius: var(--border-radius);
        padding-left: 5px;
        white-space: nowrap;
        font: {
            family: var(--primary-font);
            size: 2em;
        }
    }
}

.btnWrapper {
    width: $componentWidth;
    display: flex;
    align-items: center;
    flex: 1;
    > button {
        padding: 5px;
        background-color: var(--primary-color);
        color: white;
        border-radius: var(--border-radius);
        cursor: pointer;
        font: {
            family: var(--secondary-font);
            size: 2em;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}

@include for-desktop-large-only {
    .directions {
        font-size: 2vw;
    }

    .inputWrapper > textarea,
    .btnWrapper > button,
    .titleInput > textarea {
        font-size: 3vw;
    }
}

@include for-mobile-only {
    .inputWrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .directions {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3.5vw;
    }

    .btnWrapper {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@include for-mobile-height-only {
    .maker {
        height: auto;
    }
    .inputWrapper {
        height: 100vh;
        flex: 0;
    }
}

@include for-mobile-small-only {
    .directions {
        font-size: 4vw;
    }

    .inputWrapper {
        gap: 7.5px 25px;
    }

    .btnWrapper > button {
        font-size: 1.5em;
    }
}