$componentWidth: 90%;

.solver {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: {
        family: var(--secondary-font);
        weight: 300;
        style: italic;
        size: 1.5em;
    }
}

.directions {
    width: $componentWidth;
    margin-bottom: 2rem;
    > ol {
        margin-left: 1.5rem;
        list-style-position: inside;
        > li {
            margin-bottom: 5px;
            > ul {
                list-style-position: inside;
                margin-left: 1.75rem;
            }
        }
    }
    > h1 {
        margin-bottom: 0.25rem;
    }
}

.input {
    width: $componentWidth;
    margin-bottom: 2rem;
    > textarea {
        width: 50%;
        border-radius: var(--border-radius);
        text-align: center;
        font: {
            family: var(--secondary-font);
            weight: 300;
            style: italic;
            size: 1.5em;
        }
    }
}

.wordList {
    width: $componentWidth;
    > p {
        margin-bottom: 1rem;
    }
    > textarea {
        resize: none;
        outline: none;
        width: 100%;
        border-radius: var(--border-radius);
    }
}

.btnWrapper {
    width: $componentWidth;
    display: flex;
    > a {
        border-radius: var(--border-radius);
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0px 4rem;
        background-color: var(--primary-color);
        text-decoration: none;
        color: white;
        cursor: pointer;
        font: {
            family: var(--secondary-font);
            size: 1.5em;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}