:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --primary-color: #1F0CAD;
  --highlight-color: lightblue;
  --transition-speed: 0.5s;
}

#App {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  > .routes {
    width: 100%;
    margin-left: 7.5rem;
  }
}