:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --primary-color: #1F0CAD;
  --highlight-color: lightblue;
  --transition-speed: 0.5s;
  --border-radius: 0.25rem;
  --columns: 3;
}

#App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  > .routes {
    width: calc(100% - 7.5rem);
    margin-left: 7.5rem;
  }
}