@import '../../assets/sass/mixin.scss';

.results {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@include for-desktop-only {
    .results {
        justify-content: flex-start;
    }
    .gridWrapper {
        flex-direction: column;
    }
}