@import '../../assets/sass/mixin.scss';

.puzzles {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.puzzleInfo {
    margin-left: 2rem;
    > h1 {
        margin-bottom: 1rem;
        line-height: 0.75;
        font: {
            family: var(--primary-font);
            weight: 300;
            size: 3em;
        }
    }
    > div {
        display: flex;
        flex-direction: column;
        > a, button {
            margin-bottom: 1rem;
            border: 1px solid black;
            border-radius: var(--border-radius);
            padding: 5px 10px;
            cursor: pointer;
            text: {
                decoration: none;
                align: center;
            }
            color: white;
            font: {
                family: var(--secondary-font);
                weight: 300;
                size: 2.25em;
            }
            &[download] { background-color: var(--primary-color); }
            &[play] { background-color: #0CAD1F; }
            &[delete] { background-color: #ad0c9a; }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.gridWrapper {
    min-width: 45%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: var(--border-radius);
    pointer-events: none;
    > div {
        > div {
                font-size: 1em;
                padding: 2.5px;
        }
        > a {
            font-size: 1em;
            margin-bottom: 5px;
            padding: 0;
        }
    }
}