@import '../../assets/sass/mixin.scss';

.saved {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pageInfo {
    width: 90%;
}

.puzzlesWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}