@import '../../assets/sass/mixin.scss';

.saved {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font: {
        family: var(--secondary-font);
        weight: 300;
        style: italic;
        size: 1.5em;
    }
    > h1 {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    > ul {
        width: 100%;
        list-style-position: inside;
        margin-bottom: 1rem;
        > li {
            margin-left: 1.5rem;
            margin-bottom: 5px;
        }
    }
}

.btnWrapper {
    width: 90%;
    > button {
        background-color: red;
        color: white;
        border: 1px solid black;
        border-radius: var(--border-radius);
        margin-bottom: 1.5rem;
        padding: 5px 10px;
        cursor: pointer;
        font: {
            family: var(--primary-font);
            weight: 700;
            size: 2em;
        }
        &:hover {
            color: black;
        }
    }
}

.puzzlesWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@include for-desktop-large-only {
    .pageInfo {
        font-size: 2vw;
    }
}

@include for-desktop-only {
    .saved {
        align-items: center;
    }

    .pageInfo {
        align-items: flex-start;
    }

    .puzzlesWrapper {
        align-items: flex-start;
    }
}

@include for-tablet-only {
    .btnWrapper > button {
        width: 100%;
    }
}

@include for-mobile-only {
    .pageInfo > ul > li {
        margin-left: 0;
    }
}

@include for-mobile-small-only {
    .pageInfo {
        font-size: 1.25em;
    }
    
    .btnWrapper > button {
        font-size: 1.75em;
    }
}